@charset "UTF-8";

body
{
  min-width: 680px;
  margin: 0;
  padding: 0;
  background: #E5E5E5 url(../images/bgpage-fade.png) fixed;
  color: #333;
  text-align: center;
}

body,
td
{
  /* font-family: 10pt 'eurostile lt std', helvetica, arial, sans-serif; */
  font: 10pt helvetica, arial, sans-serif;
  }

img
{
  border: none;
  }

#tucsWrap
{
  width: 680px;
  margin: 0 auto;
  border: 1px solid #999;
  border-width: 0 1px 1px 1px;
  background-color: #FFF;
  color: inherit;
  text-align: left;
  }

.tucsSkip
{
  display: none;
  }

/* ------------------------------------------------------------------ */

#tucsHeader #tucsNav
{
  padding: 0 16px 0 56px;
  }

#tucsHeader #tucsPath
{
  padding: 0.3em 16px 0.3em 56px;
  }

#tucsHeader #tucsTools
{
  margin: 1em 0 1em 0;
  padding: 0 56px 0 56px;
  }

#tucsContent
{
  margin: 0 56px 0 0;
  padding: 1em 0 0 84px;
  }

#tucsFooter
{
  margin: 3em 0 0 0;
  padding: 1em 56px 2em 56px;
  }

/* ------------------------------------------------------------------ */

#tucsHeader #tucsBanner
{
  margin-bottom: 1em;
  color: inherit;
  }


/* ------------------------------------------------------------------ */

#tucsHeader #tucsNav
{
  text-transform: lowercase;
  }

#tucsHeader #tucsNav ul
{
  list-style: none;
  margin: 0;
  padding: 0;
  }

#tucsHeader #tucsNav li
{
  display: inline;
  margin-right: 1em;
  }

#tucsHeader #tucsNav li.tucsLast
{
  margin-right: 0;
  }

#tucsHeader #tucsNav a
{
  background-color: inherit;
  color: #333;
  text-decoration: none;
  }

#tucsHeader #tucsNav a:hover
{
  color: #000;
  text-decoration: underline;
  }

#tucsHeader #tucsNav #tucsMain
{
  margin-top: 0.5em;
  font-size: 12pt;
  }

#tucsHeader #tucsNav #tucsMain .tucsCurrent
{
  color: #000;
  font-size: 18pt;
  }

#tucsHeader #tucsNav #tucsSub
{
  margin-bottom: 1em;
  font-size: 9pt;
  }

#tucsHeader #tucsNav #tucsSub .tucsCurrent
{
  color: #000;
  font-weight: bold;
  }

/* ------------------------------------------------------------------ */

#tucsHeader #tucsPath
{
  background-color: #333;
  color: #FFF;
  text-transform: lowercase;
  }

#tucsHeader #tucsPath a
{
  background-color: inherit;
  color: #FFF;
  }

/* ------------------------------------------------------------------ */

#tucsHeader #tucsTools
{
  text-align: right;
  background-color: inherit;
  color: #999;
  }

#tucsHeader #tucsTools a
{
  margin-left: 0.25em;
  background-color: inherit;
  color: #999;
  }

#tucsHeader #tucsTools a:hover
{
  background-color: inherit;
  color: #000;
  }

/* ------------------------------------------------------------------ */

#tucsContent *
{
  line-height: 1.25em;
  }

#tucsContent p#tucsTeaser
{
  font: italic 10pt/1.5em georgia, times, 'times new roman', serif;
  }

#tucsContent p#tucsAlert
{
  margin: 1em 0;
  border: 2px solid #C03;
  background-color: #EEE;
  color: inherit;
  padding: 0.5em;
  }

#tucsContent h1,
#tucsContent h2,
#tucsContent h3
{
  clear: both; /* So that floats are cleared if a heading comes after an event with a very short teaser and many categories. */
  background-color: inherit;
  color:  #000;
  }

#tucsContent h2
{
  color: #333;
  }

#tucsContent h1
{
  margin: 0 0 0 -28px;
  font-size: 18pt;
  font-weight: normal;
  }

#tucsContent h2
{
  margin: 0 0 0 -28px; /* 56px * 1.5 = 28px */
  padding-top: 1em;
  font-size: 12pt;
  font-weight: bold;
  }

#tucsContent h3
{
  margin: 0;
  padding-top: 1em;
  font-size: 10pt;
  }

#tucsContent h1 + p,
#tucsContent h2 + p,
#tucsContent h3 + p
{
  margin: 0;
  }

#tucsContent p
{
  margin: 0.5em 0;
  }

/*
#tucsContent p.noindent
{
    margin: 0 0 0 -28px;
}
*/


#tucsContent .noindent
{
    margin: 0 0 0 -28px;
}

#tucsContent a:visited
{
  color: #933;
  }

/* 
## Toni-Debug: Der color-Eintrag unten is schuld am rot. Allerdings
## sind dann zB Links auch nicht mehr farbig.
## a. a:hover und <a name> getrennt hier anführen?
*/
#tucsContent a
{
  background-color: inherit;
  }

#tucsContent * a:hover
{
  background-color: inherit;
  color: #C03;
  }

#tucsContent a[href^='http']
{
  background: url(../images/linkexternal.png) no-repeat 100% 50%;
  padding-right: 1.25em;
  }

#tucsContent a[href^='http']:hover
{
  background-image: url(../images/linkexternal-on.png);
  }

/*#tucsContent table
   {
     margin: 1em 0;
     border-top: 1px solid #c03;
     }

#tucsContent th,
#tucsContent td
{
  padding: 0.25em 0 0.25em 0.5em;
  border-bottom: 1px solid #999;
  text-align: left;
  vertical-align: center;
  }*/

#tucsContent th
{
  /* 	border-bottom: 1px solid #c03; */
  background-color: #e5e5e5;
  padding-right: 0.5em;
  color: #333;
  font-size: 9pt;
  font-weight: normal;
  white-space: nowrap;
  text-transform: uppercase;
  }

#tucsContent td ul,
#tucsContent td ol
{
  margin: 0;
  padding: 0;
  }

#tucsContent td li
{
  margin-left: 1.5em;
  }

#tucsContent pre,
#tucsContent tt,
#tucsContent code
{
  font-family: courier, 'courier new', mono;
  }

/* ------------------------------------------------------------------ */

#tucsFooter
{
  border-top: 1px solid #999;
  background-color: inherit;
  color: #999;
  font-size: 8.5pt;
  }

#tucsFooter a
{
  background-color: inherit;
  color: #999;
  }

#tucsFooter a:hover
{
  color: #C03;
  }

/* -------------------OldIMP----------------------------------------- */
#tucsContent div.left{
                       float: left;
                       }
#tucsContent p.title{font-weight: bold;  }
#tucsContent p.name{font-size: 20pt;  }

#tucsContent div.left img{height: 125px;  }
#tucsContent div.right img{height: 125px;  }

#tucsContent div.right{
                        text-align: right;
                        margin:0 24pt 0 0;
                        float: right;
                        }

#tucsContent div.spacer{
                         border-top:1px solid transparent !important;
                         margin-top:-1px !important;
                         border-top:0;
                         margin-top:0;
                         clear:both;
                         visibility:hidden;
                         }

/* ------------------------------------------------------------------ */

#tucsContent .tucsEvent
{
  margin-top: 2em;
      /* margin-left: -2em; */
  clear: both;
  border-top: 1px solid #C03;
  }

#tucsContent .tucsEvent .tucsTitle
{
  padding-top: 0.5em;
  }

#tucsContent .tucsEvent .tucsTitle a
{
  font-weight: bold;
  }

#tucsContent .tucsEvent .tucsTitle .tucsDetails
{
  font-style: italic;
  }

#tucsContent .tucsEvent .tucsDate
{
  width: 18%;
  float: right;
  border-top: 2px solid #C03;
  border-bottom: 2px solid #C03;
  }

#tucsContent .tucsEvent .tucsDate .tucsDay,
#tucsContent .tucsEvent .tucsDate .tucsMonth,
#tucsContent .tucsEvent .tucsDate .tucsYear
{
  font-size: 22pt;
  font-weight: bold;
  }

#tucsContent .tucsEvent .tucsDate .tucsMonth
{
  color: #C03;
  }

#tucsContent .tucsEvent .tucsDate .tucsYear
{
  font-weight: normal;
  }

#tucsContent .tucsEvent .tucsDate .tucsDetails
{
  text-transform: uppercase;
  }

#tucsContent .tucsEvent p
{
  width: 72%;
  padding-left: 2em;
  }

/* ------------------------------------------------------------------ */

#tucsContent .tucsSearch td
{
  vertical-align: middle;
  white-space: nowrap;
  }

#tucsContent .tucsSearch td.tucsInput,
#tucsContent .tucsSearch td.tucsInput input
{
  width: 95%;
  }

#tucsContent .tucsSearch td.tucsInput select
{
  width: 66%;    
  }